
@{
    ViewBag.Title = "Index";
}

<h2>Help</h2>

<p> MVC Tutorial: <a class="btn btn-default" target="_blank" href="https://www.tutorialsteacher.com/mvc/asp.net-mvc-tutorials">MVC</a></p>
<p> HTML Helpers: <a class="btn btn-default" target="_blank" href="https://www.tutorialspoint.com/asp.net_mvc/asp.net_mvc_helpers.htm">Overloads</a></p>

<p> Tutorials SyncFusion: <a class="btn btn-default" target="_blank" href="https://help.syncfusion.com/aspnetmvc/listbox/getting-started">Link</a></p>


